<div class="ui modal" id="hint-modal">
    <i class="close icon"></i>
    <div class="header" id="hint-title">
    </div>
    <div class="content">
        <h4 id="hint-description"></h4>
    </div>
</div>

<script>

    function hashCode(s) {
        return Math.abs(s.toLowerCase().replace(/[^0-9a-z]/gi, '').trim().split("").reduce(function (a, b) { a = ((a << 5) - a) + b.charCodeAt(0); return a & a }, 0));
    }


    async function checkAnswer(answer) {
        var hash = hashCode(answer)
        var response = await fetch('/level/' + hash);
        if (response.ok) {
            return hash;
        } else {
            return false;
        }
    }

    async function handleAnswerSubmit() {
        var ans = $('#answer-input')[0].value
        $('#submit').addClass('loading disabled');
        $('.answer-field').removeClass('error')
        var res = await checkAnswer(ans);
        $('#submit').removeClass('loading disabled');
        if (res) {
            gtag("event", "level_end", {
                level_name: "{{ page.title }}",
                success: true,
            });
            window.location.pathname = '/level/' + res
        } else {
            $('.answer-field').addClass('error')
            $('.answer-field').transition({
                animation: 'shake'
            });
            gtag("event", "level_fail", {
                level_name: "{{ page.title }}",
                answer: ans
            });
        }
    }

    function onHintClick(hintName, hintContent) {
        $('#hint-title')[0].innerHTML = hintName;
        $('#hint-description')[0].innerHTML = hintContent;
        $('#hint-modal').modal('show');
    }

    $(document)
        .ready(function () {

            // lazy load images
            $('.image').visibility({
                type: 'image',
                transition: 'vertical flip in',
                duration: 500
            });

            // show dropdown on hover
            $('.main.menu  .ui.dropdown').dropdown({
                on: 'click'
            });
            $('#submit').on('click', handleAnswerSubmit)
            $('#answer-input').on('keypress', async function (event) {

                if (event.key === "Enter") {
                    event.preventDefault();
                    await handleAnswerSubmit();
                    return false;
                }

            })
            {% if page.console %}
            console.log("{{page.console}}");
            {% endif %}
        })
        ;
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KLWRP6ENS1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C3CBYVM5G8');

    gtag("event", "level_start", {
        level_name: "{{ page.title }}"
    });
</script>