<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap" rel="stylesheet">

<style type="text/css">
    body {
        background-color: #c1b5a2;
        background-size: 200px;
        background-repeat: repeat;
        background-blend-mode: overlay;
        background-image: url('/assets/bg-pattern.jpg');
    }

    .main.container {
        margin-top: 4.8em;
        padding-bottom: 4.8em;
    }

    .main.menu {
        margin-top: 4em;
        border-radius: 0;
        border: none;
        box-shadow: none;
        transition:
            box-shadow 0.5s ease,
            padding 0.5s ease;
    }

    .main.menu .item img.logo {
        margin-right: 1.5em;
    }

    .overlay {
        float: left;
        margin: 0em 3em 1em 0em;
    }

    .overlay .menu {
        position: relative;
        left: 0;
        transition: left 0.5s ease;
    }

    .main.menu.fixed {
        background-color: #474343;
        background-size: 200px;
        background-repeat: repeat;
        background-blend-mode: overlay;
        background-image: url('/assets/bg-pattern.jpg');
        border: 1px solid #DDD;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }

    .ui.menu .dropdown.item .menu {
        background-color: #9e8484;
        background-size: 200px;
        background-repeat: repeat;
        background-blend-mode: overlay;
        background-image: url('/assets/bg-pattern.jpg');
    }

    .overlay.fixed .menu {
        left: 800px;
    }

    .ui {
        font-family: 'Bitter', serif !important;
    }

    .text.container .left.floated.image {
        margin: 2em 2em 2em -4em;
    }

    .text.container .right.floated.image {
        margin: 2em -4em 2em 2em;
    }

    .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
    }
</style>