<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div class="ui borderless fixed main menu">
        <div class="ui text container">
            <div class="header item">
                <a href="/">Try | Know Idea</a>
            </div>
            <div class="ui right floated dropdown item">
                Help <i class="dropdown icon"></i>
                <div class="menu">
                    {% if page.hints %}
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Hints
                        <div class="menu">
                            {% for hint in page.hints %}
                            <div class="item" onclick="onHintClick('Hint {{forloop.index}}','{{hint}}')">
                                Hint {{forloop.index}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <a class="item" href="mailto:contact@knowidea.gg" target="_blank">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui text main container">
        {{ content }}
    </div>
    {% include footer.html %}
</body>

</html>